<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <category label="30001">
    <setting label="30004" id="quality" type="select" lvalues="30005|30006|30007" default="1"/>
    <setting label="30040" id="video_quality" type="select" lvalues="30041|30042|30043|30044|30045|30046|30047" default="1" />
    <setting label="30008" id="username" type="text" default=""/>
    <setting label="30009" id="password" type="text" option="hidden" default=""/>
    <setting label="30011" id="country_code" type="text" default=""/>
    <setting label="30010" id="subscription_type" type="select" lvalues="30012|30013" default="0"/>
    <setting label="30015" id="client_unique_key" type="text" default=""/>
    <setting label="30014" id="page_size" type="number" default="999"/>
  </category>
  <category label="30002">
    <setting label="30501" id="color_mode" type="bool" default="true"/>
    <setting label="30016" id="favorites_in_labels" type="bool" default="true"/>
    <setting label="30017" id="user_playlists_in_labels" type="bool" default="true"/>
    <setting label="30503" id="album_cache" type="bool" default="false"/>
    <setting label="30507" id="reset_album_cache" type="action" action="RunPlugin(plugin://plugin.audio.tidal2/cache_reset_confirmed)" visible="eq(-1,true)"/>
    <setting label="30506" id="max_http_requests" type="slider" default="10" range="1,1,20" option="int"  visible="eq(-2,true)"/>
    <setting label="30502" id="debug_log" type="bool" default="false" />
  </category>
</settings>
